.comparison {
  &-line {
    width: 100%;
    height: 2px;
  }
  &-text__note {
    font: 18px 'Roboto Bold';
    text-align: center;
    color: #343638;
  }
  &-text__title {
    font: 42px 'Roboto Bold';
    text-align: center;
  }
  &-text__subtitle {
    font: 18px 'Roboto Bold';
    text-align: center;
    color: #343638;
  }
}
.minus {
  &-title {
    margin-bottom: 25px;
    font: 24px 'Roboto Bold';
    color: #EE6284;
  }
  &-text {
    margin-bottom: 5px;
    line-height: 16px;
  }
  &-img {
    margin-bottom: 5px;
  }
}
.plus {

  &-title {
    margin-bottom: 25px;
    font: 24px 'Roboto Bold';
    color: #76B728;
  }
  &-text {
    line-height: 16px;
    margin-bottom: 5px;
    max-width: 70%;
  }
  &-img {
    margin-bottom: 5px;
  }
}
.plus div, .minus div {
  height: 60px;
}
@media (max-width: 960px) {
  .plus {
    &-title {
      margin-top: 25px;
    }
    &-text {
      line-height: 17px;
    }
  }
  .minus {
    &-text {
      line-height: 17px;
    }
  }
}
@media (max-width: 720px)  {
  .comparison {
    &-text__title {
      font-size: 28px
    }
  }
}