.faq {
  background-color: #DAE4F6;
  align-items: center;
  &-title {
    font: 42px 'Roboto Bold';
    color: #677CA9;
  }
}
.list {
  &-item {
    margin-bottom: 19px;
    border-radius: 17px;
    background: #F7F8FB;
  }
  &-item__title {
    font: 15px 'Roboto Medium' !important;
    line-height: 22px;
    color: #677CA9 ;
    padding-left: 20px;
  }
  list-item__info {
    padding-left: 20px;
    font: 15px 'Roboto Light';
    color: #677CA9;
  }
}
p {
  padding: 20px;

}
@media (min-width: 1200px) {
  .list-item {
    &:hover {
      background-color: lighten(#F7F8FB, 22%);
      cursor: pointer;
    }
  }
}
@media (max-width: 854px) {
  .faq {
    &-title {
      font-size: 32px
  }
}
  .list {
    &-item__title {
      font: 14px
  }
    list-item__info {
      font-size: 15px
    }
}
}
@media (max-width: 720px) {
  .faq {
    &-title {
      font-size: 28px;
    }
  }
}
