.footer{
  background: #F0F4F5;
  &-block__logo {
    width: 325px;
  }
  &-block__info {
    font: 14px 'Roboto Light';
    border-bottom: 1px solid #9C9E9E;
    color: #9C9E9E;
  }
  &-block__btn {
    padding: 15px 54px;
    background: linear-gradient(90deg, #50247A 0%, #72227B 100%);
    border-radius: 15px;
    border: none;
    font: 18px 'Roboto Light';
    text-align: center;
    color: #FEFEFF;
  }
  &-info__note {
    max-width: 435px;
    font: 14px 'Roboto Light';
    line-height: 16px;
    color: #9C9E9E;
  }
  &-info__text {
    font: 14px 'Roboto Light';
    line-height: 16px;
    color: #9C9E9E;
    padding: 20px 0;
  }
  .social img {
    width: 30px;
    margin: 10px;
  }
}
@media (min-width: 1200px) {
  .footer-block__btn {
    &:hover {
      background-color: lighten(#50247A, 5%);
      background-image: none;
      cursor: pointer !important;
    }
  }
  .footer-block__info {
    &:hover {
      color: lighten(#9C9E9E, 15%);
      cursor: pointer;
    }
  }
  .social-icon {
    &:hover {
      -webkit-filter: opacity(80%);
      cursor: pointer;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    &-block__btn {
      font-size: 14px;
      padding: 15px 44px;
    }
    &-info__note {

    }
    &-block__logo {
    max-width: 40%;
    }
  }
}
@media (max-width: 960px) {
  .righttocenter {
    text-align: center;
  }
  .footer {
    &-block__btn {
      font-size: 14px;
    }
  }
}
@media (min-width: 961px) {
  .righttocenter {
    text-align: right;
    padding: 10px 0;
  }
}
@media (max-width: 640px) {
  .footer {
    &-block {
      display: flex;
      flex-direction: column;
    }
    &-block__info {
      align-items: left;
    }
    &-block__btn {
      align-items: center;
      font-size: 14px;
      padding: 15px 44px;
    }
    &-info__text {
      align-items: left;
    }
  }
}