.form {
  background-color: #F7C947;
  &-text__title {
    font: 42px 'Roboto Bold';
    color: #FFFFFF;
  }
  &-text__subtitle {
    font: 24px 'Roboto Regular';
    text-align: center;
    color: #FFFFFF;
  }
  &-input__phone {
    padding: 21px 300px 21px 21px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    border:none;
    font: 18px 'Roboto light';
    color: #000000;
  }
  &-input__btn {
    width: 239px;
    height: 63px;
    background: #E76447;
    border-radius: 0px 20px 20px 0px;
    border: none;
    font: 18px 'Roboto Medium';
    color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .form-input__btn {
    &:hover {
      background-color: lighten(#E76447, 5%);
      cursor: pointer;
    }
  }
}
@media (max-width: 960px) {
  .form {
    &-text__title {
      font-size: 28px;
    }
    &-text__subtitle {
      font-size: 18px;
    }
    &-input {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &-input__phone {
      margin-bottom: 10px;
      padding: 20px 60px 20px 20px;
      border-radius: 20px;
      border:none;
      font-size: 14px;
    }
    &-input__btn {
      border-radius: 20px;
      max-width: 239px;
      font-size: 14px;
    }
  }
}



