.hero {
  background: url('./../img/hero/bgd_m.svg') no-repeat right top;
  background-size: 70%;
  &-info__title {
    color: #051e4f;
    font: 40px 'Roboto Bold';
  }
  &-info__subtitle {
    width: 556px;
    color: #536485;
    font: 20px 'Roboto Medium';
  }
}
.btns {
  &-try {
    margin-right: 15px;
    padding: 10px 15px;
    border: 3px solid #61bdff;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: transparent;
    color: #61bdff;
    text-decoration: none;
    outline: none;
    font: 14px 'Roboto Bold';
  }
  &-know {
    padding: 10px 15px;
    border-radius: 15px;
    border: 3px solid #e42776;
    color: #e42776;
    outline: none;
    background-color: transparent;
    font: 14px 'Roboto Bold';
  }
}
@media (min-width: 1200px){
  .btns-try {
    &:hover {
      color: #ffffff;
      background-color:  #61bdff;
      cursor: pointer;
    }
  }
  .btns-know {
    &:hover {
      color: #ffffff;
      background-color:  #e42776;
      cursor: pointer;
    }
  }
}
@media (max-width: 1200px) {
  .hero {
    &-info__title {
      font-size: 30px;
    }
    &-info__subtitle {
      max-width: 100%;
      font-size: 16px;
    }
  }
  .btns {
    &-try {
      margin-right: auto;
      font-size: 13px;
    }
    &-know {
      font-size: 13px;
    }
  }
}