.marketing {
  &-block__subtitle {
    font: 20px 'Roboto Medium';
    color: #343638;
  }
  &-block__title {
    font: 40px 'Roboto Bold';
    background: linear-gradient(to right, #3153B7, #3598DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-block__text {
    font: 20px 'Roboto Regular';
    color: #000000;
  }
}
@media (max-width: 1200px) {
  .marketing {
    &-block__subtitle {
      font-size: 15px;
    }
    &-block__title {
      max-width: 98%;
      font-size: 33px;
    }
    &-block__text {
      font-size: 15px;
      max-width: 100%;
    }
  }
}
@media (max-width: 960px) {
  .marketing {
    &-block__subtitle {
      font-size: 14px;
    }
    &-block__title {
      max-width: 100%;
      font-size: 32px;
    }
    &-block__text {
      max-width: 100%;
      font-size: 14px;
    }
  }
}
@media (max-width: 720px) {
  .marketing {
    &-img {
      max-width: 100%;
      align-items: center;
    }
    &-block__title {
      font-size: 28px;
    }
  }
}