.mechanics {
  &-text__subtitle {
    font: 18px 'Roboto Bold';
    text-align: center;
    color: #343638;
  }
  &-text__title {
    font: 42px 'Roboto Bold';
    background: linear-gradient(to right, #8431B7, #DF355E); /* Градиент для текста */
    -webkit-background-clip: text;/* Градиент для текста */
    -webkit-text-fill-color: transparent;/* Градиент для текста */
  }
  &-text__text {
    font: 17px 'Roboto Medium';
    text-align: center;
    color: #343638;
    opacity: 0.5;
  }
}
.block {
  &-img {
    text-align: center;
  }
  &-text {
    max-width: 400px
  }

  &-text__title {
    font: 17px 'Roboto Bold';
    color: #0A1F4D;
  }
  &-text__note {
    font: 14px 'Roboto Regular';
    line-height: 16px;
    color: #0A1F4D;
  }
}
@media (max-width: 854px) {
  .mechanics {

    &-text__subtitle {
      font-size: 16px ;
      text-align: center;
      color: #343638;
    }
    &-text__title {
      font-size: 32px ;
    }
    &-text__text {
      font-size: 14px ;
    }
  }
  .block {
    &-text__title {
      font-size: 15px ;
    }
    &-text__note {
      font-size: 14px ;
    }
  }
}
@media (max-width: 720px) {
  .mechanics {
    &-text__title {
      font-size: 28px;
    }
  }
}
