.navbar {
  &-right__sign {
    border: 0;
    background-color: transparent;
    color: #677CA9;
    font: 16px 'Roboto Medium';
  }
  &-right__log {
    padding: 8px 22px;
    background-color: transparent;
    border: 3px solid #677CA9;
    color: #677CA9;
    border-radius: 15px;
    font: 15px 'Roboto Bold';
  }
}
.menu {
  &-list__item {
    font: 15px 'Roboto Medium' !important;
    font-weight: 500;
  }
  &-logo {
    width: 200px;
  }
  &-right__burger {
  }
}
@media (min-width: 1200px){
  .navbar-right__log {
    &:hover {
      color: #ffffff;
      background-color:  #677CA9;
      cursor: pointer;
    }
  }
  .navbar-right__sign {
    &:hover {
      color:  lighten(#677CA9, 10%);
    }
  }
}
@media (max-width: 1200px) {
  .navbar {
    &-right__sign {
      font-size: 13px;
    }
    &-right__log {
      font-size: 13px;
      padding: 6px 19px;
    }
  }
  .menu {
    &-list__item {
      font-size: 13px !important;
    }
    &-logo {
      max-width: 60%;
    }
  }
}