.cake {
  background:  url('../img/offer/tort.jpg') no-repeat left bottom;
  background-size: 40%;
  height: 285px;
   &-info__title {
    font: 22px 'Roboto Bold';
    text-align: left;
    text-decoration-line: line-through;
    color: #000000;
    margin: 0px !important;
  }
  &-info__note {
    font: 15px 'Roboto Medium';
    font-weight: 400;
    color: #494949;
    margin-top: 20px !important;
  }
}
.offer {
  &-card {
    height: auto;
    background: linear-gradient(180deg, #4F247A 0%, #73227B 100%);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  &-card__title {
    font: 22px 'Roboto Bold';
    color: #FFFFFF;
  }
  &-card__list {
    font: 15px 'Roboto Medium';
    color: #FFFFFF;
  }
  &-card__btn {
    width: 226px;
    display: block;
    padding: 10px 20px;
    background: transparent;
    border: 3px solid #FDD65E;
    box-sizing: border-box;
    border-radius: 15px;
    font: 18px 'Roboto Medium';
    text-align: center;
    color: #FDD65E;
  }
}
@media (min-width: 1200px) {
  .offer-card__btn {
    &:hover {
      color: #73227B;
      background-color: #FDD65E;
      cursor: pointer;
    }
  }
}
@media (max-width: 959px) {
  .cake {
    background:  url('../img/offer/tort.jpg') no-repeat right bottom;
    background-size: 40%;
    &-info {
      max-width: 100%;
    }
  }
  .offer {
    margin: auto;
    align-items: center;

    &-card {
      max-width: 100%;
    }
  }
}
@media (max-width: 640px) {
  .cake {
    background: transparent;
    background-size: 50% !important;
    height: auto;
  }
  .offer {
    &-card__btn {
      max-width: 100%;
    }
  }
}
