.recommend {
  background: linear-gradient(to bottom, #ffffff 50%, #F0F4F5 50%);
  &-container {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25) !important;
    border-radius: 15px;
    background-color: #FFFFFF;
  }
  &-title {
    width: 498px;
    font: 28px 'Roboto Bold';
    text-align: center;
    color: #286EA8;
  }
  &-btn {
    padding: 18px 15px;
    border: 3px solid #3482C4;
    background-color: transparent;
    border-radius: 15px;
    width: 235px;
    font: 14px 'Roboto Bold';
    text-align: center;
    color: #3482C4;
  }
  &-blocks {
    padding-bottom: 20px;
  }
}
.company {
  padding: 0;
  margin: 0 20px;
  width: 350px;
  &-img {
    margin: auto;
    width: 40%;
    text-align: center;
  }
  &-title {
    font: 18px 'Roboto Bold';
    color: #000000;
  }
  &-text {
    font: 14px 'Roboto Medium';
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .recommend-btn {
    &:hover {
      color: #ffffff;
      background-color: #3482C4;
      cursor: pointer;
    }
  }
}
@media (max-width: 960px) {
  .company {
    &-img {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 854px) {
  .recommend {
    &-title {
      max-width: 70%;
      font-size: 20px;
  }
  }
  .company {
    max-width: 350px;
    &-title {
      font-size: 15px;
    }
    &-text {
      font-size: 13px;
    }
  }
}
@media (max-width: 588px) {
  .recommend {
    &-title {
      max-width: 70%;
      font-size: 16px;
    }
  }
}