.service {
  &-img {
    background: url('./../img/service/bg_infl.png') no-repeat left top;
    background-size: contain;
    width: 100%;
  }
  &-info__title {
    color: #000000;
    font: 42px 'Roboto Bold';
    margin-top: -100px;
  }
}
.service-info  h2 strong {
  background: linear-gradient(to right, #3153B7, #3598DF);
  font: 42px 'Roboto Bold';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  &-title {
    font: 17px 'Roboto Medium';
    line-height: 22px;
    color: #000000;
  }
  &-text {
    font-weight: 300;
    font: 16px 'Roboto Light';
    line-height: 20px;
    color: #343638;
  }
}
@media (min-width: 1200px) {
  .card {
    &-text {
      padding-right: 25px;
    }
  }
}
@media (max-width: 1200px) {
  .service {
    &-info__title {
      font-size: 32px;
      margin-top: 0;
    }
    &-info h2 strong {
      font-size: 32px;
      margin: auto;
    }
  }
}
@media (max-width: 960px) {
  .service  {
    &-info h2 strong {
      font-size: 30px;
      margin: auto;
      text-align: center;
    }
  }
  .card {
    position: relative;
    &-img {
      text-align: center;
    }
    &-title {
      text-align: center;
    }
    &-text {
      text-align: center;
    }
  }
}
@media (max-width: 720px)  {
  .service {
    &-info h2 strong {
      font-size: 28px;
    }
    &-info__title {
      font-size: 28px;
    }
  }
}