.work {
  background-color: #E9EDF5;
  &-block {
    position: relative;
  }
  &-title {
    font: 42px 'Roboto Bold';
    background: linear-gradient(to right, #3153B7, #3598DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-block__title {
    font: 17px 'Roboto Medium';
    color: #343638;
  }
  &-block__text {

    font: 16px 'Roboto Light';
    color: #343638;
  }
 &-block__arrow {
    align-items: center;
    max-width: 100px;
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 0;
  }
  &-block__image {
    height: 140px;
  }
 }
@media (min-width: 960px) {
  .work {
    &-block__text {
      padding-right: 30px;
    }
  }
}
@media (max-width: 1200px) {
  .work {
    &-title {
      font: 32px 'Roboto Bold';
    }
    &-block__image {
      max-width: 40%;
    }
    &-block__title {
      margin: 0;
      font-size: 16px;
      color: #343638;
    }
    &-block__text {
      font-size: 15px;
    }
    &-block__arrow {
      max-width: 15%;
    }
  }
}
@media (max-width: 960px) {
  .work {
    &-block {
      position: relative;
    }
    &-block__image {
      margin: auto;
      width: 120px;
      text-align: center;
    }
    &-block__title {
      margin-top: 15px;
      text-align: center;
    }
    &-block__text {
      margin-top: 5px;
      text-align: center;
    }
    &-block__arrow {
      text-align: center;
      height: 40px;
      display: block;
      position: static;
      margin: 0px auto;
      padding: 0px;
      margin-top: 40px;
      width: 100% !important;
    }
    &-block__arrow img {
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}
@media (max-width: 720px)  {
  .work {
    &-title {
      font-size: 28px
    }
  }
}