* {
  box-sizing: border-box;
}
body  {
  -webkit-font-smoothing: antialiased !important;
}
a {
  outline: none !important;
  text-decoration: none !important;
}
button {
  outline: none;
}
.good {
  margin-top: -250px;
}
.test {
  border: 2px solid red;
}
.line img
{
  width: 100%;
}

.list-item__title {
  color: #677CA9 !important;
}
//bgd-top/bottom -  это фоновые волны
.bgd-top {
  margin-bottom: -15px;
  width: 100%;
}
.bgd-bottom {
  width: 100%;
  margin-top: -5px;
}
.return {
  background-color: round;
  border: 1px solid #9C9E9E;
  border-radius: 50%;
}
#scroll-to-top {
  cursor: pointer;
  display: block;
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0px 2px 6px rgba(133, 152, 193, 0.7);
  box-shadow: 0px 2px 6px rgba(133, 152, 193, 0.7);
  color: #656565;
  padding: 18px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 50%;
  width: auto;
  height: auto;
  color: #61bdff;
  bottom: 40px;
  right: 30px;
  opacity: 0;
  z-index: 10;
  transform: translateY(30%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#scroll-to-top:hover {
  background: #efefef;
  transition: all .5s;
}
@media (min-width: 1200px) {
  a {
    cursor: pointer

  }
}
@media (max-width: 1400px) {
  .good {
    margin-top: -100px;
  }
}
@media (max-width: 960px) {
  .service-img work-block__image {
    width: 100px;
  }
}
